
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47.6rem;
}.engagement-Kpu {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;

  .navbar-logo-left-UC1 {
    width: calc(100% - 10.3rem);
    height: 4.6rem;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;
    margin: 0rem 5.2rem 0rem 5.1rem;
    box-sizing: border-box;
    padding: 1.5rem 1.2rem 1.2rem 1.2rem;
    cursor: pointer;

    .navbar-menu-ZUM {
      width: 32.9rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .auto-group-zml5-Hv9 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 12.7rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.15rem;

        .home-1LM {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .contact-8vm {
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
        }
        .backup-file-H2y {
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .instagram-1-pHo {
        vertical-align: top;
        flex-shrink: 0;
        width: 1.8rem;
        height: 1.9rem;
        object-fit: cover;
      }
    }
  }
  .auto-group-cugy-8ZP {
    margin-bottom: 1.3rem;
    width: 142.8rem;
    height: 31rem;
    flex-shrink: 0;

    .auto-group-ovyy-UNM {
      width: 71.4rem;
      height: 100%;
      position: relative;

      .xt000000-1-RHb {
        top: 0;
        background-size: 136.555% 155.897%;
        background-position: 0 -6.1697rem;
        background-image: url('REPLACE_IMAGE:80f04b51adf047f57e245c3641f8dfacbd0f5d9b');
        width: 47.6rem;
        height: 27.8rem;
        position: relative;
        left: 0;
      }
      .bg-content-L9f {
        width: 71.4rem;
        height: 12.2rem;
        position: absolute;
        left: 0;
        top: 18.8rem;
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
      }
      .deskripsi-open-3Zs {
        line-height: 1.3325;
        font-family: Playfair Display, 'Source Sans Pro';
        width: 24.3rem;
        position: absolute;
        left: 0.8rem;
        top: 11.9rem;
        font-size: 0.8rem;
        height: 7.5rem;
        font-weight: 400;
        color: #ffffff;
      }
      .rfotografi-wQM {
        font-weight: 700;
        color: #ffffff;
        font-family: Playfair Display, 'Source Sans Pro';
        height: 4.3rem;
        position: absolute;
        left: 0.8rem;
        top: 6.9rem;
        font-size: 3.2rem;
        line-height: 1.3325;
        white-space: nowrap;
        width: 16.3rem;
      }
      .button-qEq {
        align-items: center;
        top: 20.6rem;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        left: 0.8rem;
        font-weight: 700;
        white-space: nowrap;
        color: #ffffff;
        display: flex;
        border: solid 0.1rem #d4b157;
        position: absolute;
        font-size: 0.7rem;
        line-height: 1.2125;
        box-sizing: border-box;
        width: 5.3rem;
        height: 1.8rem;
        justify-content: center;
      }
    }
  }
  .portfolio-engagement-5us {
    font-family: Playfair Display, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 11.7rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3325;
    color: #ffffff;
  }
  .auto-group-gm3w-npH {
    width: 100%;
    height: 217.7rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-xvbb-KZK {
      height: 32.3rem;
      position: absolute;
      left: 8.8rem;
      top: 2.3rem;
      display: flex;
      align-items: flex-start;
      width: 30.8rem;

      .auto-group-sqst-qnZ {
        margin-right: 1.1rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rfg01051-1-ak9 {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 13.8rem;
          height: 9.4rem;
        }
        .rectangle-3-6yP {
          flex-shrink: 0;
          width: 13.9rem;
          height: 19.9rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-gjuj-qRB {
        box-sizing: border-box;
        padding: 0 0.2rem;
        width: 15.8rem;
        height: 100%;
        flex-shrink: 0;

        .rectangle-2-y1b {
          vertical-align: top;
          margin: 0rem 0rem 1.3rem 0.2rem;
          width: 14.3rem;
          height: 21.4rem;
          object-fit: contain;
        }
        .rfg01051-1-GFb {
          height: 9.6rem;
          object-fit: cover;
          vertical-align: top;
          width: 14.4rem;
        }
      }
    }
    .auto-group-wopo-nDw {
      position: absolute;
      left: 8.8rem;
      top: 35.6rem;
      display: flex;
      align-items: flex-end;
      width: 29.4rem;
      height: 21.7rem;

      .rectangle-5-tnm {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 13.9rem;
        height: 21.7rem;
        object-fit: cover;
      }
      .rectangle-15-pRX {
        background-size: 99.767% 100%;
        background-position: 0.0167rem 0;
        background-image: url('REPLACE_IMAGE:3d65e1b49126793ecc18041a1c07abb7166d97de');
        flex-shrink: 0;
        width: 14.3rem;
        height: 21.4rem;
        position: relative;
      }
    }
    .capture-your-inportant-moment-vDf {
      left: 10.35rem;
      top: 61.5rem;
      font-weight: 400;
      font-family: Playfair Display, 'Source Sans Pro';
      width: 23.3rem;
      height: 2.2rem;
      position: absolute;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.3325;
      color: #ffffff;
      white-space: nowrap;
    }
    .pertunangan-adalah-janji-awal-yang-diberikan-dua-hati-untuk-berjalan-bersama-menuju-masa-depan-yang-penuh-harapan-dan-cintaseperti-bunga-yang-mekar-perlahan-pertunangan-adalah-tahap-di-mana-cinta-tumbuh-dan-berkembang-seiring-waktu-1F7 {
      width: 32.1rem;
      height: 6rem;
      position: absolute;
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
      left: 7.05rem;
      top: 66.2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
    }
    .company-bDK {
      height: 1rem;
      text-align: center;
      color: #ffffff;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 6rem;
      position: absolute;
      left: 20.2rem;
      top: 200.1rem;
      white-space: nowrap;
    }
    .auto-group-vwz7-VJh {
      left: 15.8rem;
      top: 203.2rem;
      display: flex;
      align-items: center;
      width: 16.7rem;
      height: 1.3rem;
      position: absolute;

      .privacy-policy-pLy {
        text-align: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 3.3rem 0.3rem 0rem;
        font-size: 0.8rem;
        font-weight: 300;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .terms-and-conditions-vuo {
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
      }
    }
    .rectangle-14-FhB {
      width: 34.4261rem;
      height: 43.6407rem;
      position: absolute;
      left: 0;
      top: 597.7787rem;
      background-color: #000000;
    }
    .content-PHb {
      left: 7.407rem;
      top: 79.3578rem;
      overflow: hidden;
      width: 32.8848rem;
      height: 74.5408rem;
      position: absolute;

      .wedding-Wd7 {
        margin: 0rem 0rem 8.21rem 0.279rem;
        width: calc(100% - 0.2795rem);
        display: flex;
        align-items: flex-end;

        .content-eUR {
          padding: 0.044rem 0rem 4.14rem 0.015rem;
          width: 18.9014rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 1.912rem 0.161rem 0rem;
          box-sizing: border-box;

          .tagline-kXT {
            margin: 0rem 0rem 1.956rem 0.075rem;
            width: calc(100% - 0.0748rem);
            display: flex;
            align-items: flex-end;

            .line-t7s {
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5194rem;
            }
            .rfotografi-PqK {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 1.2;
              text-transform: uppercase;
              color: #fbd784;
              letter-spacing: 0.6rem;
              font-family: Alumni Sans, 'Source Sans Pro';
            }
          }
          .paket-1-hLD {
            margin: 0rem 0rem 2.5rem 0.05rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
          .caption1-cTB {
            margin: 0rem 0rem 2rem 0.025rem;
            max-width: 13.8rem;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
          }
          .idr-400k-7uj {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .rfg00659-1-rcR {
          width: 11.7918rem;
          height: 18.2589rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .wedding-oGm {
        align-items: flex-end;
        margin: 0rem 0.374rem 7.693rem 0.138rem;
        width: calc(100% - 0.5117rem);
        height: 19.7179rem;
        display: flex;

        .content-XCm {
          box-sizing: border-box;
          padding: 0.044rem 0rem 4.121rem 0.015rem;
          width: 18.9046rem;
          height: calc(100% - 0.0483rem);
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 1.677rem 0.048rem 0rem;

          .tagline-E7B {
            margin: 0rem 0rem 1.956rem 0.078rem;
            width: calc(100% - 0.078rem);
            display: flex;
            align-items: flex-end;

            .line-ZfF {
              background-color: #fbd784;
              flex-shrink: 0;
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5194rem;
              height: 0.2329rem;
            }
            .rfotografi-5tV {
              font-size: 1rem;
              font-weight: 700;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              color: #fbd784;
              line-height: 1.2;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .paket-2-JFT {
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.053rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
          }
          .caption1-DtD {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 2.648rem 0.025rem;
            max-width: 13.6rem;
          }
          .idr-500k-Y9o {
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
          }
        }
        .rfg00659-1-VjF {
          width: 11.7918rem;
          height: 18.2589rem;
          position: relative;
          background-size: 103.704% 100%;
          background-position: -0.2184rem 0;
          background-image: url('REPLACE_IMAGE:6ed82b47159f8ad1ad6348f42e9d752bd299bb3e');
          flex-shrink: 0;
        }
      }
      .wedding-Ppd {
        margin-right: 0.5122rem;
        width: calc(100% - 0.5122rem);
        display: flex;
        align-items: flex-end;

        .content-8nD {
          margin: 0rem 1.677rem 0.176rem 0rem;
          box-sizing: border-box;
          padding: 0.044rem 0rem 6.579rem 0.027rem;
          width: 18.9039rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .tagline-E4Z {
            margin: 0rem 0rem 1.438rem 0.065rem;
            width: calc(100% - 0.065rem);
            display: flex;
            align-items: flex-end;

            .line-Mus {
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5194rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-gBT {
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              color: #fbd784;
              flex-shrink: 0;
              font-weight: 700;
              line-height: 1.2;
              white-space: nowrap;
              font-size: 1rem;
              font-family: Alumni Sans, 'Source Sans Pro';
            }
          }
          .paket-3-b3X {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.393rem 0.041rem;
            display: flex;
          }
          .caption1-JCq {
            max-width: 15rem;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 1.687rem 0.017rem;
          }
          .idr-700k-DKo {
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
          }
        }
        .rfg00659-1-AF3 {
          width: 11.7918rem;
          height: 18.2589rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .button-7AH {
      height: 9.5rem;
      position: absolute;
      left: 14.7rem;
      top: 171.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 18.1rem;

      .frame-3-deR {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
        height: 4rem;

        .hubungi-kita-P7o {
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
          width: 9.2rem;
          height: 1.8rem;
          position: absolute;
          font-weight: 700;
          line-height: 1.1975;
          color: #ffffff;
          left: 4.45rem;
          top: 0.8rem;
          text-align: center;
          font-size: 1.5rem;
        }
        .rectangle-32-gsb {
          top: 0;
          border: solid 0.1rem #d4b157;
          box-sizing: border-box;
          width: 18.1rem;
          height: 4rem;
          position: absolute;
          left: 0;
        }
      }
      .frame2-E8R {
        width: 100%;
        height: 3.7rem;
        position: relative;
        flex-shrink: 0;

        .cek-tanggal-aTB {
          left: 4.85rem;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1975;
          font-family: Inria Serif, 'Source Sans Pro';
          width: 8.4rem;
          position: absolute;
          text-align: center;
          color: #ffffff;
          white-space: nowrap;
          height: 1.8rem;
          top: 0.8rem;
        }
        .rectangle-32-HMb {
          width: 18.1rem;
          height: 3.7rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #d4b157;
          box-sizing: border-box;
        }
      }
    }
    .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--QBK {
      font-family: Inria Serif, 'Source Sans Pro';
      height: 7.5rem;
      position: absolute;
      left: 7.75rem;
      top: 160.3rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #ffffff;
      width: 31.9rem;
      text-align: center;
      font-weight: 400;

      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--QBK-sub-0 {
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--QBK-sub-1 {
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--QBK-sub-2 {
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--QBK-sub-3 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--QBK-sub-4 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
    }
  }
}
