
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47.6rem;
}.free-event-KV3 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.free-event-KV3 .navbar-logo-left-3fw {
  margin: 0rem 5.2rem 0rem 5.1rem;
  box-sizing: border-box;
  padding: 1.5rem 1.2rem 1.2rem 1.2rem;
  width: calc(100% - 10.3rem);
  height: 4.6rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #000000;
  flex-shrink: 0;
}
.free-event-KV3 .navbar-logo-left-3fw .navbar-menu-8SV {
  width: 33rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.free-event-KV3 .navbar-logo-left-3fw .navbar-menu-8SV .auto-group-4apt-5Mj {
  box-sizing: border-box;
  padding: 0.2rem 12.8rem 0.2rem 0rem;
  height: 100%;
  display: flex;
  column-gap: 3.15rem;
  align-items: center;
  flex-shrink: 0;
}
.free-event-KV3 .navbar-logo-left-3fw .navbar-menu-8SV .auto-group-4apt-5Mj .home-bqs {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .navbar-logo-left-3fw .navbar-menu-8SV .auto-group-4apt-5Mj .contact-vNM {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .navbar-logo-left-3fw .navbar-menu-8SV .auto-group-4apt-5Mj .backup-file-4jT {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .navbar-logo-left-3fw .navbar-menu-8SV .instagram-1-bUV {
  width: 1.8rem;
  height: 1.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-vybf-6g9 {
  margin-bottom: 2.6rem;
  width: 142.8rem;
  height: 31rem;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-vybf-6g9 .auto-group-tpsm-dvy {
  width: 71.4rem;
  height: 100%;
  position: relative;
}
.free-event-KV3 .auto-group-vybf-6g9 .auto-group-tpsm-dvy .xt000000-1-P9T {
  width: 47.6rem;
  height: 27.6rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 136.555% 157.027%;
  background-position: 0rem -6.1697rem;
  background-image: url('../assets/xt000000-1-aqw.png');
}
.free-event-KV3 .auto-group-vybf-6g9 .auto-group-tpsm-dvy .bg-content-fcm {
  width: 71.4rem;
  height: 12.2rem;
  position: absolute;
  left: 0;
  top: 18.8rem;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
}
.free-event-KV3 .auto-group-vybf-6g9 .auto-group-tpsm-dvy .deskripsi-open-ApR {
  width: 28.2rem;
  height: 7.6rem;
  position: absolute;
  left: 0.9rem;
  top: 11.8rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .auto-group-vybf-6g9 .auto-group-tpsm-dvy .rfotografi-qQm {
  width: 16.3rem;
  height: 4.3rem;
  position: absolute;
  left: 0.8rem;
  top: 6.5rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
}
.free-event-KV3 .auto-group-vybf-6g9 .auto-group-tpsm-dvy .button-7NH {
  width: 5.3rem;
  height: 1.8rem;
  position: absolute;
  left: 0.8rem;
  top: 20.6rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d4b157;
  box-sizing: border-box;
}
.free-event-KV3 .capture-your-inportant-moment-ZVB {
  margin-bottom: 1.7rem;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP {
  margin-bottom: 4.9rem;
  width: 100%;
  left: 5rem;
  top: auto;
  position: relative;
  max-width: 37.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.50;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-event-KV3 .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP-sub-1 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP .di-free-event-ini-anda-bisa-menggunakan-jasa-kita-untuk-foto-apapun-misal-foto-kelulusan-foto-ulang-tahun-atau-foto-apapun-yang-menurut-anda-sangat-penting-untuk-di-abadikan-selain-untuk-acara-acara-diatas-kita-juga-siap-belkolaborasi-dengan-anda-mau-itu-foto-make-up-modeling-ataupun-untuk-keperluan-bisnis-lainya-kalian-bisa-langsung-klik-saja-hubungi-kita-di-bawah-agar-bisa-langsung-menghubungi-kita-lewat-whatsapp-rDP-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .portfolio-free-event-LJu {
  margin-left: 11.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3325;
  color: #ffffff;
  font-family: Playfair Display, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf {
  width: 100%;
  height: 197.1rem;
  position: relative;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw {
  width: 31rem;
  height: 33.1rem;
  position: absolute;
  left: 8.6rem;
  top: 23.1rem;
  display: flex;
  align-items: center;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-73d3-Jf3 {
  margin-right: 0.6rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-73d3-Jf3 .rfg01051-1-F4V {
  margin-bottom: 1.3rem;
  width: 14.6rem;
  height: 11.9rem;
  position: relative;
  background-size: 100% 153.361%;
  background-position: 0rem -3.9389rem;
  background-image: url('../assets/rfg01051-1-5Um.png');
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-73d3-Jf3 .rectangle-5-vAd {
  width: 14.5rem;
  height: 19.9rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-tb4m-rpy {
  width: 15.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-tb4m-rpy .auto-group-wvgq-c3T {
  margin-bottom: 1.1rem;
  box-sizing: border-box;
  padding: 0.4rem 0.8rem 0rem 0.7rem;
  width: 100%;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-tb4m-rpy .auto-group-wvgq-c3T .rectangle-2-LVF {
  width: 14.3rem;
  height: 19.1rem;
  object-fit: cover;
  vertical-align: top;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-3z2y-ayw .auto-group-tb4m-rpy .rfg01051-1-fnR {
  margin-right: 0.1rem;
  width: 14.3rem;
  height: 12.5rem;
  position: relative;
  background-size: 100% 143%;
  background-position: 0 -4.139rem;
  background-image: url('../assets/rfg01051-1-Ejs.png');
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-urpt-NRw {
  width: 30.2rem;
  height: 20rem;
  position: absolute;
  left: 8.7rem;
  top: 2.2rem;
  display: flex;
  align-items: center;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-urpt-NRw .rectangle-3-6sj {
  margin-right: 1.2rem;
  width: 14.5rem;
  height: 20rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-urpt-NRw .rectangle-4-r6D {
  width: 14.5rem;
  height: 20rem;
  position: relative;
  background-size: 100% 105.764%;
  background-position: 0 -1.0982rem;
  background-image: url('../assets/rectangle-4-XRB.png');
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .company-ZFX {
  width: 9rem;
  height: 1.5rem;
  position: absolute;
  left: 19.3rem;
  top: 181.3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-ejzy-Fu3 {
  width: 24.15rem;
  height: 1.8rem;
  position: absolute;
  left: 12.95rem;
  top: 183.6rem;
  display: flex;
  align-items: center;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-ejzy-Fu3 .privacy-policy-zLq {
  margin: 0rem 4.05rem 0.3rem 0rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .auto-group-ejzy-Fu3 .terms-and-conditions-JMX {
  margin-top: 0.3rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .rectangle-14-2YR {
  width: 34.4261rem;
  height: 43.6407rem;
  position: absolute;
  left: 0;
  top: 577.1787rem;
  background-color: #000000;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed {
  width: 18.1rem;
  height: 9.5rem;
  position: absolute;
  left: 14.1rem;
  top: 76.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed .frame-3-Vgu {
  margin-bottom: 1.8rem;
  width: 100%;
  height: 4rem;
  position: relative;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed .frame-3-Vgu .hubungi-kita-EuP {
  width: 9.2rem;
  height: 1.8rem;
  position: absolute;
  left: 4.45rem;
  top: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed .frame-3-Vgu .rectangle-32-8Uy {
  width: 18.1rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d4b157;
  box-sizing: border-box;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed .frame2-FpV {
  width: 100%;
  height: 3.7rem;
  position: relative;
  flex-shrink: 0;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed .frame2-FpV .cek-tanggal-QxH {
  width: 8.4rem;
  height: 1.8rem;
  position: absolute;
  left: 4.85rem;
  top: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.free-event-KV3 .auto-group-ud9t-Fwf .button-Aed .frame2-FpV .rectangle-32-JXs {
  width: 18.1rem;
  height: 3.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #d4b157;
  box-sizing: border-box;
}
.free-event-KV3 .auto-group-ud9t-Fwf .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im {
  width: 37.9rem;
  height: 9rem;
  position: absolute;
  left: 3.5rem;
  top: 64.1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.50;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .auto-group-ud9t-Fwf .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im-sub-0 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .auto-group-ud9t-Fwf .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im-sub-1 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .auto-group-ud9t-Fwf .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im-sub-2 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.50;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .auto-group-ud9t-Fwf .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im-sub-3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.50;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
.free-event-KV3 .auto-group-ud9t-Fwf .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--2im-sub-4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.50;
  color: #ffffff;
  font-family: Inria Serif, 'Source Sans Pro';
}
