
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47.6rem;
}.prewedding-G8R {
  flex-direction: column;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .navbar-logo-left-Pyj {
    margin: 0rem 5.2rem 0rem 5.1rem;
    height: 4.6rem;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1.5rem 1.2rem 1.2rem 1.2rem;
    width: calc(100% - 10.3rem);
    cursor: pointer;

    .navbar-menu-fAZ {
      width: 33.3rem;
      height: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .auto-group-wnu9-zyX {
        box-sizing: border-box;
        padding: 0.2rem 13.1rem 0.2rem 0rem;
        height: 100%;
        display: flex;
        column-gap: 3.15rem;
        align-items: center;
        flex-shrink: 0;

        .home-vMP {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contact-SKj {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
        }
        .backup-file-aRw {
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .instagram-1-uz1 {
        width: 1.8rem;
        height: 1.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-hs1b-Dzh {
    height: 31rem;
    flex-shrink: 0;
    margin-bottom: 1.3rem;
    width: 142.8rem;

    .auto-group-tixb-kzd {
      width: 71.4rem;
      height: 100%;
      position: relative;

      .xt000000-1-hus {
        background-size: 136.555% 151.536%;
        background-position: 0rem -6.1697rem;
        background-image: url('REPLACE_IMAGE:80f04b51adf047f57e245c3641f8dfacbd0f5d9b');
        width: 47.6rem;
        height: 28.6rem;
        position: relative;
        left: 0;
        top: 0;
      }
      .bg-content-Q3b {
        width: 71.4rem;
        height: 12.2rem;
        position: absolute;
        left: 0;
        top: 18.8rem;
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
      }
      .deskripsi-open-6h7 {
        font-family: Playfair Display, 'Source Sans Pro';
        width: 24.3rem;
        position: absolute;
        top: 11.9rem;
        line-height: 1.3325;
        color: #ffffff;
        height: 7.5rem;
        left: 0.8rem;
        font-size: 0.8rem;
        font-weight: 400;
      }
      .rfotografi-z1o {
        font-weight: 700;
        line-height: 1.3325;
        color: #ffffff;
        font-family: Playfair Display, 'Source Sans Pro';
        height: 4.3rem;
        position: absolute;
        left: 0.8rem;
        top: 6.9rem;
        white-space: nowrap;
        width: 16.3rem;
        font-size: 3.2rem;
      }
      .button-t7B {
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #d4b157;
        box-sizing: border-box;
        font-size: 0.7rem;
        position: absolute;
        text-align: center;
        line-height: 1.2125;
        white-space: nowrap;
        height: 1.8rem;
        left: 0.8rem;
        font-weight: 700;
        color: #ffffff;
        display: flex;
        justify-content: center;
        width: 5.3rem;
        top: 20.6rem;
      }
    }
  }
  .portfolio-prewedding-jtV {
    font-weight: 400;
    line-height: 1.3325;
    color: #ffffff;
    font-family: Playfair Display, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 11.7rem;
    font-size: 2.4rem;
  }
  .auto-group-wjrf-Frq {
    width: 100%;
    height: 217.7rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-orar-PTF {
      align-items: center;
      width: 31rem;
      height: 33.1rem;
      position: absolute;
      left: 8.6rem;
      top: 23.1rem;
      display: flex;

      .auto-group-ix7f-WXs {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.6rem;
        height: 100%;

        .rfg01051-1-ety {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          width: 14.6rem;
          height: 9.6rem;
        }
        .rectangle-5-Pbf {
          width: 14.5rem;
          height: 22.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-ptx7-vLh {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 15.8rem;
        height: 100%;
        align-items: center;

        .auto-group-fcuh-f3P {
          flex-shrink: 0;
          margin-bottom: 1.7rem;
          box-sizing: border-box;
          padding: 0.4rem 0.8rem 0rem 0.7rem;
          width: 100%;

          .rectangle-2-ms7 {
            vertical-align: top;
            width: 14.3rem;
            height: 21.4rem;
            object-fit: contain;
          }
        }
        .rfg01051-1-Jc9 {
          width: 14.3rem;
          height: 9.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.1rem;
        }
      }
    }
    .auto-group-18lr-csj {
      position: absolute;
      left: 8.7rem;
      top: 2.2rem;
      display: flex;
      align-items: center;
      width: 30.2rem;
      height: 20rem;

      .rectangle-3-urq {
        margin-right: 1.2rem;
        width: 14.5rem;
        height: 20rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-4-cFT {
        width: 14.5rem;
        height: 20rem;
        position: relative;
        background-size: 100% 105.764%;
        background-position: 0 -1.0982rem;
        background-image: url('REPLACE_IMAGE:5987f741309fb117e7e60a179f7e0b6c89f5d9f7');
        flex-shrink: 0;
      }
    }
    .capture-your-inportant-moment-fDj {
      position: absolute;
      left: 10.35rem;
      top: 61.5rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      width: 23.3rem;
      height: 2.2rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.3325;
      font-family: Playfair Display, 'Source Sans Pro';
    }
    .dalam-cincin-pertunangan-terdapat-simbol-kebersamaan-yang-mengikat-dua-jiwa-dalam-komitmen-yang-kuatseperti-lukisan-yang-masih-belum-selesai-pertunangan-adalah-waktu-untuk-merencanakan-setiap-goresan-dan-warna-dalam-kisah-cinta-kita-VCm {
      font-weight: 400;
      font-family: Inria Serif, 'Source Sans Pro';
      width: 30.7rem;
      left: 7.85rem;
      top: 67.3rem;
      text-align: center;
      font-size: 1rem;
      height: 6rem;
      position: absolute;
      line-height: 1.5;
      color: #ffffff;
    }
    .company-tVo {
      position: absolute;
      top: 204.8rem;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 6rem;
      height: 1rem;
      left: 22.1rem;
      text-align: center;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-rerv-n5P {
      height: 1rem;
      position: absolute;
      left: 16.9rem;
      top: 207.7rem;
      display: flex;
      align-items: center;
      width: 16.2rem;

      .privacy-policy-HXw {
        text-align: center;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.8rem;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .terms-and-conditions-CQ1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
        font-weight: 300;
      }
    }
    .rectangle-14-vqo {
      width: 34.4261rem;
      height: 43.6407rem;
      position: absolute;
      left: 0;
      top: 597.7787rem;
      background-color: #000000;
    }
    .content-FdB {
      position: absolute;
      left: 7.3426rem;
      top: 77.4628rem;
      overflow: hidden;
      width: 32.8981rem;
      height: 76.9894rem;

      .wedding-AVF {
        margin: 0rem 0rem 7.97rem 0.291rem;
        width: calc(100% - 0.2907rem);
        height: 19.4411rem;
        display: flex;
        align-items: flex-end;

        .content-44q {
          padding: 0.044rem 0rem 3.428rem 0.011rem;
          width: 18.9034rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.9122rem;
          box-sizing: border-box;

          .tagline-Ykh {
            width: calc(100% - 0.0804rem);
            display: flex;
            align-items: flex-end;
            margin: 0rem 0rem 1.456rem 0.08rem;

            .line-sny {
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5194rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-ahP {
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 700;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              font-size: 1rem;
              line-height: 1.2;
            }
          }
          .paket-1-VJZ {
            margin: 0rem 0rem 2rem 0.058rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
          .caption1-QAd {
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 1.113rem 0.022rem;
            max-width: 13.6rem;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
          }
          .idr-500k-HVK {
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 700;
          }
        }
        .rfg00659-1-DNy {
          width: 11.7918rem;
          height: 18.2589rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.24rem;
        }
      }
      .wedding-jcD {
        height: 19.7936rem;
        display: flex;
        align-items: flex-end;
        margin: 0rem 0.374rem 7.618rem 0.15rem;
        width: calc(100% - 0.5243rem);

        .content-THK {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.6768rem;
          box-sizing: border-box;
          padding: 0.044rem 0rem 3.849rem 0.013rem;
          width: 18.9052rem;
          height: 100%;

          .tagline-knD {
            margin: 0rem 0rem 1.456rem 0.08rem;
            width: calc(100% - 0.08rem);
            display: flex;
            align-items: flex-end;

            .line-gvm {
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5194rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-1CM {
              text-transform: uppercase;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              letter-spacing: 0.6rem;
              white-space: nowrap;
              line-height: 1.2;
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
            }
          }
          .paket-2-Kiq {
            white-space: nowrap;
            margin: 0rem 0rem 2rem 0.058rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
          }
          .caption1-pQh {
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 1.045rem 0.022rem;
            max-width: 13.6rem;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
          }
          .idr-800k-LGZ {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .rfg00659-1-eY9 {
          background-position: -0.2184rem 0;
          background-image: url('REPLACE_IMAGE:86265a6b00e8a9cc5050e454f7faf9109d17b741');
          flex-shrink: 0;
          margin-bottom: 0.0756rem;
          width: 11.7918rem;
          height: 18.2589rem;
          position: relative;
          background-size: 103.704% 100%;
        }
      }
      .wedding-8TK {
        margin-right: 0.5122rem;
        width: calc(100% - 0.5122rem);
        height: 22.1668rem;
        display: flex;
        align-items: center;

        .content-rPK {
          box-sizing: border-box;
          padding: 0.044rem 0rem 3.011rem 0.013rem;
          width: 18.9172rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.6769rem;

          .tagline-9dK {
            align-items: flex-end;
            margin: 0rem 0rem 0.956rem 0.092rem;
            width: calc(100% - 0.0924rem);
            display: flex;

            .line-Gxq {
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5194rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-QJM {
              line-height: 1.2;
              white-space: nowrap;
              flex-shrink: 0;
              text-transform: uppercase;
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 700;
              letter-spacing: 0.6rem;
            }
          }
          .paket-3-8EM {
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.5rem 0.073rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .caption1-dwo {
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 2.256rem 0.016rem;
            max-width: 15rem;
            font-size: 0.8rem;
            font-weight: 400;
          }
          .idr-13jt-Z4m {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .rfg00659-1-tsj {
          flex-shrink: 0;
          margin-bottom: 0.9893rem;
          width: 11.7918rem;
          height: 18.2589rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .button-Rsf {
      left: 14.6rem;
      top: 172.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 18.1rem;
      height: 9.5rem;
      position: absolute;

      .frame-3-xMo {
        flex-shrink: 0;
        margin-bottom: 1.8rem;
        width: 100%;
        height: 4rem;
        position: relative;

        .hubungi-kita-hKP {
          height: 1.8rem;
          left: 4.45rem;
          text-align: center;
          font-size: 1.5rem;
          color: #ffffff;
          width: 9.2rem;
          position: absolute;
          top: 0.8rem;
          font-weight: 700;
          line-height: 1.1975;
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-32-n5w {
          box-sizing: border-box;
          width: 18.1rem;
          height: 4rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #d4b157;
        }
      }
      .frame2-tuf {
        width: 100%;
        height: 3.7rem;
        position: relative;
        flex-shrink: 0;

        .cek-tanggal-edw {
          white-space: nowrap;
          width: 8.4rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 1.1975;
          color: #ffffff;
          font-family: Inria Serif, 'Source Sans Pro';
          height: 1.8rem;
          position: absolute;
          left: 4.85rem;
          top: 0.8rem;
        }
        .rectangle-32-9Ko {
          width: 18.1rem;
          height: 3.7rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #d4b157;
          box-sizing: border-box;
        }
      }
    }
    .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--rzu {
      font-weight: 400;
      line-height: 1.5;
      position: absolute;
      top: 159.1rem;
      text-align: center;
      font-size: 1rem;
      font-family: Inria Serif, 'Source Sans Pro';
      width: 32.2rem;
      height: 7.5rem;
      left: 7.6rem;
      color: #ffffff;

      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--rzu-sub-0 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--rzu-sub-1 {
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 1rem;
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--rzu-sub-2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--rzu-sub-3 {
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 1rem;
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--rzu-sub-4 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
    }
  }
}
