
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 47.6rem;
}.wedding-tjB {
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .navbar-logo-left-QBj {
    margin: 0rem 5.2rem 0rem 5.1rem;
    padding: 1.5rem 1.2rem 1.2rem 1.2rem;
    height: 4.6rem;
    cursor: pointer;
    position: relative;
    background-color: #000000;
    box-sizing: border-box;
    width: calc(100% - 10.3rem);
    overflow: hidden;
    flex-shrink: 0;

    .navbar-menu-sr1 {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      width: 33.3rem;
      height: 100%;

      .auto-group-otmx-d4V {
        display: flex;
        column-gap: 3.15rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 13.1rem 0.2rem 0rem;
        height: 100%;

        .home-YSM {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contact-fWy {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .backup-file-oNH {
          line-height: 1.5;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .instagram-1-jFw {
        width: 1.8rem;
        height: 1.9rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-vcob-ReZ {
    width: 142.8rem;
    height: 31rem;
    flex-shrink: 0;
    margin-bottom: 1.7rem;

    .auto-group-zfwy-9qT {
      position: relative;
      width: 71.4rem;
      height: 100%;

      .xt000000-1-tY9 {
        background-position: -0rem -6.1697rem;
        background-image: url('REPLACE_IMAGE:80f04b51adf047f57e245c3641f8dfacbd0f5d9b');
        width: 47.6rem;
        height: 28.9rem;
        position: relative;
        left: 0;
        top: 0;
        background-size: 136.555% 149.963%;
      }
      .bg-content-NCR {
        width: 71.4rem;
        height: 12.2rem;
        position: absolute;
        left: 0;
        top: 18.8rem;
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #000000 61.04%);
      }
      .deskripsi-open-fSR {
        top: 11.9rem;
        font-weight: 400;
        font-family: Playfair Display, 'Source Sans Pro';
        font-size: 0.8rem;
        line-height: 1.3325;
        color: #ffffff;
        width: 24.3rem;
        height: 7.5rem;
        position: absolute;
        left: 0.8rem;
      }
      .rfotografi-kCy {
        font-weight: 700;
        white-space: nowrap;
        left: 0.8rem;
        top: 6.9rem;
        font-size: 3.2rem;
        line-height: 1.3325;
        color: #ffffff;
        width: 16.3rem;
        height: 4.3rem;
        position: absolute;
        font-family: Playfair Display, 'Source Sans Pro';
      }
      .button-hubungi-r17 {
        width: 5.3rem;
        text-align: center;
        font-weight: 700;
        display: flex;
        box-sizing: border-box;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 20.6rem;
        color: #ffffff;
        height: 1.8rem;
        left: 0.8rem;
        font-size: 0.7rem;
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #d4b157;
      }
    }
  }
  .portfolio-wedding-HcD {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3325;
    color: #ffffff;
    font-family: Playfair Display, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 14.1rem;
  }
  .auto-group-zwa9-PfF {
    box-sizing: border-box;
    padding-top: 2.4rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-2-7r9 {
      margin: 0rem 0rem 1.7rem 0.1rem;
      width: 31.5rem;
      height: 18.6rem;
      position: relative;
      background-size: 100% 115.472%;
      background-position: 0rem -1.0755rem;
      background-image: url('REPLACE_IMAGE:cd559f92053d9e91cc009f8ce121b5f18773b106');
      flex-shrink: 0;
    }
    .auto-group-bsof-zuw {
      width: calc(100% - 16.2rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 8rem 1rem 8.2rem;

      .rectangle-3-KxD {
        margin-right: 1.2rem;
        width: 14.4rem;
        height: 20.3rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-dmdj-rBT {
        flex-direction: column;
        flex-shrink: 0;
        width: 15.8rem;
        align-items: flex-end;
        display: flex;

        .auto-group-9iyy-zHf {
          margin-bottom: 0.8rem;
          width: 100%;
          flex-shrink: 0;

          .rfg01051-1-9AZ {
            width: 15.7rem;
            height: 9.6rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:2b833c4d1d97ce19f9de4a9b4dd6817d4ba124dd');
          }
        }
        .rfg01051-1-4YR {
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:2b833c4d1d97ce19f9de4a9b4dd6817d4ba124dd');
          flex-shrink: 0;
          width: 15.7rem;
          height: 9.6rem;
        }
      }
    }
    .auto-group-eo4d-oF7 {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 8.1rem 3.7rem 8.1rem;
      width: calc(100% - 16.2rem);
      display: flex;

      .rectangle-5-j8m {
        margin-right: 1.3rem;
        width: 14.5rem;
        height: 21rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .rectangle-4-TaZ {
        width: 15.6rem;
        height: 21rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .capture-your-inportant-moment-oPX {
      font-weight: 400;
      line-height: 1.3325;
      color: #ffffff;
      font-family: Playfair Display, 'Source Sans Pro';
      margin: 0rem 2.4rem 0.9rem 0rem;
      font-size: 1.6rem;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
    .pernikahan-adalah-tempat-di-mana-kita-belajar-bahwa-cinta-sejati-tidak-hanya-melihat-apa-yang-terlihat-tetapi-juga-melihat-potensi-yang-ada-di-baliknya-uBf {
      font-size: 1rem;
      font-family: Inria Serif, 'Source Sans Pro';
      margin: 0rem 0rem 4.756rem 0.2rem;
      max-width: 30.2rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.5;
      color: #ffffff;
      flex-shrink: 0;
    }
    .content-wPF {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 7.28rem 3.176rem 7.134rem;
      width: calc(100% - 14.4138rem);
      overflow: hidden;
      position: relative;

      .roll-4Cy {
        height: 19.8678rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 0rem 7.543rem 0.812rem;
        width: calc(100% - 0.812rem);

        .content-yKw {
          flex-shrink: 0;
          margin-right: 1.6768rem;
          box-sizing: border-box;
          padding: 0.044rem 0rem 1.668rem 0.002rem;
          width: 18.9056rem;
          height: 100%;
          overflow: hidden;
          position: relative;

          .tagline-sgD {
            display: flex;
            align-items: flex-end;
            margin: 0rem 0rem 1.956rem 0.091rem;
            width: calc(100% - 0.0914rem);

            .line-Qw3 {
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5195rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-wg5 {
              font-size: 1rem;
              font-weight: 700;
              text-transform: uppercase;
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
              flex-shrink: 0;
              line-height: 1.2;
              letter-spacing: 0.6rem;
              white-space: nowrap;
            }
          }
          .paket-1-rol-Fwf {
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.067rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
          }
          .caption1-mv1 {
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 2.3rem 0.025rem;
            max-width: 14.7rem;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
          }
          .idr-500k-5vh {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .rfg00659-1-ptH {
          margin-bottom: 0.1499rem;
          width: 11.7918rem;
          height: 18.2589rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .roll-MtD {
        margin: 0rem 0.138rem 7.693rem 0.675rem;
        width: calc(100% - 0.8132rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .content-tt9 {
          margin: 0rem 1.677rem 0.082rem 0rem;
          box-sizing: border-box;
          padding: 0.044rem 0rem 1.436rem 0.001rem;
          width: 18.9044rem;
          height: 19.6356rem;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;

          .tagline-QLh {
            margin: 0rem 0rem 1.956rem 0.091rem;
            width: calc(100% - 0.0914rem);
            display: flex;
            align-items: flex-end;

            .line-8nV {
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5195rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
            }
            .rfotografi-3eZ {
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 700;
              text-transform: uppercase;
              color: #fbd784;
              font-family: Alumni Sans, 'Source Sans Pro';
              font-size: 1rem;
              line-height: 1.2;
              letter-spacing: 0.6rem;
            }
          }
          .paket-2-rol-mKf {
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 2.5rem 0.067rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #ffffff;
          }
          .caption1-HYu {
            margin: 0rem 0rem 2.3rem 0.025rem;
            max-width: 14.7rem;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
          }
          .idr-800k-Q7j {
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
          }
        }
        .rfg00659-1-wNZ {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          width: 11.7918rem;
          height: 18.2589rem;
        }
      }
      .roll-UNV {
        height: 21.5652rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 0.277rem 5.077rem 0.526rem;
        width: calc(100% - 0.8033rem);

        .content-nPB {
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 1.6769rem;
          box-sizing: border-box;
          padding: 0.044rem 0rem 6.093rem 0.022rem;
          width: 18.9141rem;

          .tagline-qsF {
            margin: 0rem 0rem 0.456rem 0.081rem;
            width: calc(100% - 0.0809rem);
            display: flex;
            align-items: flex-end;

            .line-LZ7 {
              width: 6.5195rem;
              height: 0.2329rem;
              background-color: #fbd784;
              flex-shrink: 0;
              margin: 0rem 2.172rem 0.011rem 0rem;
            }
            .rfotografi-RqT {
              line-height: 1.2;
              letter-spacing: 0.6rem;
              text-transform: uppercase;
              color: #fbd784;
              flex-shrink: 0;
              font-weight: 700;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 1rem;
            }
          }
          .paket-3-rol-woo {
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.531rem 0.061rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .caption1-4dX {
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 0.541rem 0.02rem;
            max-width: 14.7rem;
            font-size: 0.8rem;
            font-weight: 400;
          }
          .idr-12jt-yVb {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .rfg00659-1-K3f {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.3876rem;
          width: 11.7918rem;
          height: 18.2589rem;
        }
      }
      .magazine-FCD {
        margin-right: 0.4155rem;
        width: calc(100% - 0.4155rem);
        height: 25.4038rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .content-BLm {
          box-sizing: border-box;
          padding: 0.044rem 0rem 5.991rem 0.024rem;
          width: 18.9335rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-right: 2.0454rem;

          .tagline-ha1 {
            margin: 0rem 0rem 0.456rem 0.098rem;
            width: calc(100% - 0.0976rem);
            display: flex;
            align-items: flex-end;

            .line-eEM {
              flex-shrink: 0;
              margin: 0rem 2.172rem 0.011rem 0rem;
              width: 6.5195rem;
              height: 0.2329rem;
              background-color: #fbd784;
            }
            .rfotografi-AyP {
              font-weight: 700;
              text-transform: uppercase;
              color: #fbd784;
              font-size: 1rem;
              line-height: 1.2;
              letter-spacing: 0.6rem;
              font-family: Alumni Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .paket-magazine-6c9 {
            line-height: 1.1975;
            color: #ffffff;
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 1.635rem 0.077rem;
            font-size: 2rem;
            font-weight: 700;
          }
          .caption1-RPX {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.875;
            color: #ffffff;
            font-family: Be Vietnam, 'Source Sans Pro';
            margin: 0rem 0rem 2.878rem 0.017rem;
            max-width: 16.5rem;
          }
          .idr-16jt-9KX {
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #d4b157;
          }
        }
        .rfg00659-1-sWR {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 2.6883rem;
          width: 11.7918rem;
          height: 18.2589rem;
          object-fit: cover;
        }
      }
    }
    .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--D4V {
      color: #ffffff;
      font-family: Inria Serif, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 35rem;
      text-align: center;
      font-size: 1rem;
      margin: 0rem 0rem 1.7rem 1.1rem;
      font-weight: 400;
      line-height: 1.5;

      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--D4V-sub-0 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--D4V-sub-1 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--D4V-sub-2 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--D4V-sub-3 {
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
        font-size: 1rem;
      }
      .untuk-info-lebih-jelas-tentang-masalah-pembayaran-atau-negosiasi-harga-mengecek-atau-memboking-tanggal-apa-saja-yang-harus-di-persiapkan-atau-apasaja-yang-ingin-anda-tanyakan-bisa-dengan-klik-hubungi-kita-untuk-lanjut-menanyakan-via-whatsapp-dan-klik-cek-tanggal-umtuk-mengecek-apakah-tanggal-tersebut-isi-atau-tidak--D4V-sub-4 {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inria Serif, 'Source Sans Pro';
      }
    }
    .button-9Gu {
      flex-shrink: 0;
      margin: 0rem 14.5rem 2.7rem 15rem;
      width: calc(100% - 29.5rem);
      align-items: center;
      display: flex;
      flex-direction: column;

      .hubungi-kita-sTo {
        margin-bottom: 1.8rem;
        width: 100%;
        height: 4rem;
        position: relative;
        flex-shrink: 0;

        .hubungi-kita-RER {
          height: 1.8rem;
          text-align: center;
          line-height: 1.1975;
          color: #ffffff;
          font-family: Inria Serif, 'Source Sans Pro';
          width: 9.2rem;
          position: absolute;
          left: 4.45rem;
          top: 0.8rem;
          font-size: 1.5rem;
          font-weight: 700;
          white-space: nowrap;
        }
        .rectangle-32-Kqb {
          left: 0;
          top: 0;
          border: solid 0.1rem #d4b157;
          box-sizing: border-box;
          width: 18.1rem;
          height: 4rem;
          position: absolute;
        }
      }
      .kalender-TB7 {
        width: 100%;
        height: 3.7rem;
        position: relative;
        flex-shrink: 0;

        .cek-tanggal-p1f {
          position: absolute;
          font-size: 1.5rem;
          font-weight: 700;
          color: #ffffff;
          width: 8.4rem;
          left: 4.85rem;
          top: 0.8rem;
          text-align: center;
          line-height: 1.1975;
          font-family: Inria Serif, 'Source Sans Pro';
          white-space: nowrap;
          height: 1.8rem;
        }
        .rectangle-32-7Ff {
          box-sizing: border-box;
          width: 18.1rem;
          height: 3.7rem;
          position: absolute;
          left: 0;
          top: 0;
          border: solid 0.1rem #d4b157;
        }
      }
    }
    .company-F6y {
      text-align: center;
      font-weight: 700;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      font-size: 0.8rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-munz-mLD {
      flex-shrink: 0;
      margin: 0rem 15.5rem 381.779rem 16.3rem;
      width: calc(100% - 31.8rem);
      display: flex;
      align-items: center;

      .privacy-policy-V1K {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.4rem;
      }
      .terms-and-conditions-yx5 {
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 0.8rem;
      }
    }
    .rectangle-14-uaq {
      margin-right: 89.3046rem;
      width: 34.4261rem;
      height: 43.6407rem;
      background-color: #000000;
      flex-shrink: 0;
    }
  }
}
